.popup__button-close {
  width: 32px;
  height: 32px;
  background-color: unset;
  background-size: 100%;
  background-image: url(../../../../images/icons/close.svg);
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -35px;
  right: -35px;
}

@media screen and (max-width: 480px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: -10px;
  }
}
