.element__list {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .element__list {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .element__list {
    justify-content: space-between;
  }
}
