.profile {
  max-width: 880px;
  min-height: 120px;
  margin: 0 auto;
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__container {
  max-width: 880px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile__image {
  background-image: url(./images/avatar/avatar.jpg);
  border-radius: 50%;
  max-width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000000;
  object-fit: contain;
  margin-right: 30px;
}

.profile__info-container {
  display: flex;
  max-width: 336px;
  min-height: 73px;
  align-items: center;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: #000000;
  background-image: url(./images/icons/edit.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  padding: 7px;
  margin-top: 10px;
  margin-left: 18px;
  box-sizing: border-box;
}

.profile__title {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

.profile__profession {
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0 0 0;
  padding: 0;
}

.profile__button-plus {
  box-sizing: border-box;
  max-width: 150px;
  height: 50px;
  background-image: url(./images/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 14px 64px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  object-fit: cover;
  align-items: flex-start;
  transition: 0.2s;
}

/* Elements */

.elements {
  padding-top: 47px;
  margin: 0 auto;
  max-width: 880px;
}

.element__list {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.element__list-item {
  width: 282px;
  list-style: none;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.element__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.element__content {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  min-height: 23px;
  margin: 25px 15px 31px 21px;
  align-items: center;
}

.element__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
}

.button__like {
  width: 22px;
  height: 19px;
  background-size: 100%;
  background-image: url(./images/icons/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: white;
}

.footer {
  max-width: 880px;
  padding: 47px 0 60px 0;
  margin: 0 auto;
  width: 880px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
