.profile {
  max-width: 880px;
  min-height: 120px;
  margin: 0 auto;
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    padding: 42px 19px 36px 19px;
    justify-content: center;
    flex-direction: column;
  }
}
