.popup__submit-button_disabled {
  color: rgb(0%, 0%, 0%, 0.2);
  border-radius: 2px;
  border: 1px solid rgb(0%, 0%, 0%, 0.2);
  background-color: white;
}

.popup__submit-button_disabled:hover {
  opacity: 1;
  cursor: not-allowed;
}

@media screen and (max-width: 568px) {
  .popup__submit-button_disabled {
    width: 238px;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 22px;
    margin-bottom: 27px;
    margin-top: 15px;
  }
}
