.profile__container {
  max-width: 880px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 680px) {
  .profile__container {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}

/* @media screen and (max-width: 320px) {
  .profile__container {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
  }
} */
