.popup__image-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* @media screen and (max-width: 480px) {
  .popup__image-container {
    max-width: 282px;
    padding: 0;
    margin: auto 19px;
  }
} */
