.profile__button-plus {
  box-sizing: border-box;
  max-width: 150px;
  height: 50px;
  background-image: url(../../../../images/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 14px 64px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  object-fit: cover;
  align-items: flex-start;
  transition: 0.2s;
}

@media screen and (max-width: 320px) {
  .profile__button-plus {
    margin: 36px 18px;
    width: 282px;
    height: 50px;
    padding: 17px 132px 17px 134px;
  }
}
