.profile__info-container {
  display: flex;
  max-width: 336px;
  min-height: 73px;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .profile__info-container {
    max-width: 282px;
    justify-content: center;
  }
}
