.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 17px;
  border: none;
  border-bottom: 1px solid rgb(0%, 0%, 0%, 0.2);
  padding: 13px 0;
  width: 100%;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .popup__input {
    margin: 0 22px;
    width: 238px;
  }
}
