.button__plus {
  box-sizing: border-box;
  max-width: 150px;
  background-image: url(../../../images/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 25px 75px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  object-fit: cover;
  align-items: flex-start;
  transition: 0.2s;
  background-color: unset;
}

@media screen and (max-width: 680px) {
  .button__plus {
    margin: 36px 0;
    max-width: 100%;
    width: 100%;
    padding: 25px 0;
    background-size: 16px 16px;
  }
}

@media screen and (max-width: 320px) {
  .button__plus {
    max-width: 100%;
    width: 100%;
  }
}
